@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}
* {
  font-family: Arial, sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);

}
